# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

node.js/node_modules
node_modules

node.js/ani24Downloader/소드 아트 온라인 2기 - 1화.mp4

*.mp4
.DS_Store
